/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*UTILITIES*/
.debug{
     border: 1px dashed white;
}
*{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.d-flex{
    display: flex;
}

img{
    max-width: 100%;
}
/*#region H text*/
h2{
    color: white;
    padding-left: 1rem;
} 
h5{
    padding-left: 1rem;
    color:#72757A;
    }
h4{
    color: white;
}
/*#endregion H text*/

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top{
    height:calc(100% - 90px);
    background-color: teal;
    display: flex;
    
}


/*#region MAIN*/
.upgrade-bar{
    height: 100px;
    background-color:#080B12;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}
.upgrade-btn{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2rem;
    height: 3rem;
    width: 15rem;    
    position:relative;
    top:1.5rem;
    cursor: pointer;
    
}
.content-dx{
    width: calc(100% - 230px);
    background-color: aqua; 
}
.container-dx{
    width: 100%;
    height: calc(100% - 90px);
    background-color:#141922;
    overflow: hidden;
    overflow-y: scroll;
    
}
.menu-center{
    justify-content: center;
    list-style: none;
    margin-top: 1rem;   
}
.menu-center li a:hover {
  border-bottom: 1px solid #ADFF2F; 
}


/*#region ROW & COLUMNS*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}
.row-title{
    display: flex;
    flex-direction: column;
}

.title-subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
[class^="col"]{
    padding: 1rem;
    max-width: 250px;
    max-height: 250px;
    flex-basis:auto;
    flex-grow:1;
    border: 1px dashed white;
    margin-bottom: 1rem;
    
}

.col-lg-1{
    width:calc(100/ 12 * 1)
}
.col-lg-2{
    width: calc(100/ 12 * 2);
}
.col-lg-3{
    width: calc(100/ 12 * 3);
}
.col-lg-4{
    width: calc(100/ 12 * 4);
}
.col-lg-5{
    width: calc(100/ 12 * 5);
}
.col-lg-6{
    width: 50%;
}
.col-lg-7{
    width: calc(100/ 12 * 7);
}
.col-lg-8{
    width: calc(100/ 12 * 8);
}
.col-lg-9{
    width: calc(100/ 12 * 9);
}
.col-lg-10{
    width: calc(100/ 12 * 10);
}
.col-lg-11{
    width: calc(100/ 12 * 11);
}
.col-lg-12{
    width: 100%;
}

/*#endregion ROW & COLUMNS*/


/*#endregion MAIN*/


/*#region SIDEBAR*/
.sidebar{
    height: 90vh;
    width: 230px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    
}
.sidebar li a:hover {
    border-left: 1px solid #ADFF2F;
    padding-left: 5px;
}

.sidebar * {
    margin-left: 5px;
}

.logo{
    max-width: 60%;
    margin-left: 15px;
    margin-bottom: 5px;
    padding-top:10px;
}

a > img{
    max-width:20%;
}
a{
    text-decoration: none;
    color: #b5b5b5;   
}
li{
    margin-bottom: 5px;
    margin-left: 15px;
}
li a{
    display: flex;
    align-items: center;
    gap:10px;
}
h3{
    color: white;
    padding: 1rem;
  
}
.add {
    max-width: 200px; 
    margin-left: -0.4rem;
}
.fa-square-plus{
    font-size:300%;
}
.playlist-link{
    margin:1rem 1rem;
}
.menu-bottom{  
    position: relative;
    right:0.5rem; 
}
.install{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #b5b5b5;
    margin-left: 15px;
}
.install img{
    max-width: 10%;
    margin-right: 5px;
}
.user-profile{
    color: white;
    margin:1rem;
    display: flex;
    flex-direction: row;    
    align-items: center;
}
.user-profile img{
    background: grey;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 5px;
    margin-top:5px;
}
/*#endregion SIDEBAR*/


/**BOTTOM**/ 

.bottom{
    height: 90px;
    background: #282828;
}

@media screen and (max-width:768px){

}