/*RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*UTILITIES*/
.debug{
     border: 1px dashed white;
}
*{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.d-flex{
    display: flex;
}

img{
    max-width: 100%;
}
/*#region H text*/
h2{
    color: white;
    padding-left: 1rem;
} 
h5{
    padding-left: 1rem;
    color:#72757A;
    }
h4{
    color: white;
}
/*#endregion H text*/

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top{
    height:calc(100% - 90px);
    background-color: teal;
    display: flex;
    
}


/*#region MAIN*/
.upgrade-bar{
    height: 100px;
    background-color:#080B12;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}
.upgrade-btn{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2rem;
    height: 3rem;
    width: 15rem;    
    position:relative;
    top:1.5rem;
    cursor: pointer;
    
}
.upgrade-btn:hover{
    transform: scale(110%);
}
.content-dx{
    width: calc(100% - 230px);
    background-color: aqua; 
}
.container-dx{
    width: 100%;
    height: calc(100% - 90px);
    background-color:#141922;
    overflow: hidden;
    overflow-y: scroll;
    
}
.menu-center{
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
}
.menu-center li a:hover {
  border-bottom: 1px solid #ADFF2F; 
  color: white;
}

/*#region ROW & COLUMNS*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}
.row-title{
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

.title-subtitle{
    padding:0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
[class^="col"]{
    padding: 1rem;
    max-width: 250px;
    max-height: 250px;
    flex-basis:auto;
    flex-grow:1;
    border: 1px dashed white;
    margin-bottom: 1rem;
    
}

.col-lg-1{
    width:calc(100/ 12 * 1)
}
.col-lg-2{
    width: calc(100/ 12 * 2);
}
.col-lg-3{
    width: calc(100/ 12 * 3);
}
.col-lg-4{
    width: calc(100/ 12 * 4);
}
.col-lg-5{
    width: calc(100/ 12 * 5);
}
.col-lg-6{
    width: 50%;
}
.col-lg-7{
    width: calc(100/ 12 * 7);
}
.col-lg-8{
    width: calc(100/ 12 * 8);
}
.col-lg-9{
    width: calc(100/ 12 * 9);
}
.col-lg-10{
    width: calc(100/ 12 * 10);
}
.col-lg-11{
    width: calc(100/ 12 * 11);
}
.col-lg-12{
    width: 100%;
}

/*#endregion ROW & COLUMNS*/

/*#endregion MAIN*/

/*#region SIDEBAR*/
.sidebar{
    height: 90vh;
    width: 230px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    
}
.sidebar li a:hover {
    border-left: 1px solid #ADFF2F;
    padding-left: 5px;
    color: white;
}

.sidebar * {
    margin-left: 5px;
}

.logo{
    max-width: 60%;
    margin-left: 15px;
    margin-bottom: 5px;
    padding-top:10px;
}

a > img{
    max-width:20%;
}
a{
    text-decoration: none;
    color: #b5b5b5;   
}
li{
    margin-bottom: 5px;
    margin-left: 15px;
}
li a{
    display: flex;
    align-items: center;
    gap:10px;
}
h3{
    color: white;
    padding: 1rem;
  
}
.add {
    max-width: 200px; 
    margin-left: -0.4rem;
}
.fa-square-plus{
    font-size:300%;
}
.playlist-link{
    margin:1rem 1rem;
}
.menu-bottom{  
    position: relative;
    right:0.5rem; 
}
.menu-bottom a:hover{
    color: white;
}
.install{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #b5b5b5;
    margin-left: 15px;
}
.install img{
    max-width: 10%;
    margin-right: 5px;
}
.user-profile{
    color: white;
    margin:1rem;
    display: flex;
    flex-direction: row;    
    align-items: center;
}
.user-profile img{
    background: grey;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-right: 5px;
    margin-top:5px;
}
/*#endregion SIDEBAR*/

/**BOTTOM**/ 

.bottom{
    height: 90px;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listening-to{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0 1rem;
}

.listening-to img {
    max-width:8%;
}

.listening-now{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .author{
        font-size: smaller;
    }
    .name{
        font-size: x-small;
        }
}

.personal{
    padding:2rem;
    display: flex;
    gap:10px;
}

.reproduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  position: relative;
  right:5rem;
}

.btns-player button{
    color: #F9F9F9;
    background: none;
    border:none;
    display: inline;
    padding:0.5rem;
    font-size: medium;
    max-height: max-content;
    cursor: pointer;
}

.btns-player .play {
  font-size: x-large;
}
.play:hover{
    transform: scale(130%);
}

.btns-monitor button{
    padding: 5px;   
    color: #F9F9F9;
    background: none;
    border:none; 
    cursor: pointer;
}

.monitor-reproduction{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
    padding-right: 1rem;
}
.grey{
    width: 400px;
    height: 5px;
    background-color: grey;
    border-radius: 1rem;
}
.white{
    width:200px;
    height:5px;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    bottom:0.3rem;
    
}
.circle-play{
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 16px;
    position: absolute;
    bottom:1rem;
    left:12rem;
    display: none;
}

.grey-fake{
    height: 2px;
    width: 100px;
    background-color: grey;
}

.white-fake{
    width:50px;
    height:2px;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    bottom:0.1rem;
}
.circle-play-sm{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 16px;
    position: absolute;
    bottom:2.6rem;
    right:3.7rem;
    display: none;
}
.white:hover, .white-fake:hover{   
    background-color: greenyellow; 
}


.slider:hover .circle-play{
    display: inline;
    z-index: 1;
}
.fake-monitor:hover .circle-play-sm{
    display: inline;
    z-index:1;
}
 
/***MEDIA TABLET***/
@media screen and (max-width:768px){
    .wrapper{
        max-width: 765px;
    }
    
    .menu-center{
        font-size:x-small;
        gap:1rem;
        justify-content: space-around; 
        width: 600px;
    }
    .discover{
        position: relative;
        top:2.5rem;
        right: 19rem;
    }
    
    .col-md-3{
        width: calc(100/ 12 * 3);
        margin:10px 0;
    }
    [class^="col"]{
        padding: 1rem;
        max-width: 110px;
        max-height: 110px;
        flex-basis:auto;
        flex-grow:1;
        border: 1px dashed white;
        margin-bottom: 1rem;    
    }
    .row-title{
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
    }
    .row-title.high{
        padding-top:4rem;
     }

    .title-subtitle{
        padding:0.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size:small;
        text-align: center;
    }
    h5{
        margin-right:5px;
    }
    .sidebar *:not(.fa-square-plus) {
        font-size: x-small;
    }
    .upgrade-btn{
        border: 1px solid white;
        
    }
    .bottom{
        display: flex;
        justify-content: space-around;
    }
    .grey{
        width: 200px;
    }
    .white{
        width:100px;
    }
    .circle-play{
        left:5.5rem;
    }
    .btns-monitor{
        display: flex;
    }
}

/***MEDIA MOBILE****/
@media screen and (max-width:576px){
    .wrapper{
        max-width: 574px;
    }
     .upgrade-btn{
        border: 1px solid white;
        font-size:x-small;
        border: 1px solid white;
        height: 1.8rem;
        width: 9rem;    
        top:2rem; 
    }

    .menu-center{
        max-width: 320px;
        flex-wrap: wrap;
        gap:10px;
        justify-content:space-around;
    }
    .discover{
        position:static;
    }

    a > img{
        max-width:15%;

    }
    .logo{
        max-width: 50%;
        
    }
    .col-sm-6{
        width: 50%;

    }
     [class^="col"]{
        padding: 0.5rem;
        max-width: 140px;
        margin-bottom: 3rem;    
    }

    .bottom{
        display: flex;
        justify-content: space-around;
    }
    
    .reproduction {
        gap: 1rem;
        right:1rem;
    }

    .btns-player button{
        padding:0.1rem;
        font-size:medium;
        margin: 0 0.5rem;
    }
    .btns-player .play {
        font-size:x-large;
    }

    .grey{
        width: 200px;
    }
    .white{
        width:100px;
    }
    .circle-play{
        top:2.7rem;
    }
    .monitor-reproduction{
        display: flex;
    }
    .fa-list, .fa-desktop, .fa-volume-high{
        font-size: x-small;
    }
    
    .grey-fake{
        height: 2px;
        width: 50px;
    
    }
    .white-fake{
        width:25px;
        height:2px;
        position: relative;
        bottom:0.1rem;
    }
    .circle-play-sm{
        right:2.3rem;
    }
    .slider-reproduction{
        margin-bottom: -30px;
    }


}